extends layout

block content
  h1= title
  p Welcome to #{title}
  div
  if user
      div
        a(href="/logout") #{user.username} をログアウト
      div
        a(href="/memos/new") メモを作る
      - var hasMemo = memos.length > 0
      if hasMemo
        h3 あなたの作ったメモ一覧
        each memo in memos
          p No: #{memo.memoId}
          p 番組名: #{memo.programName}
          p パーソナリテイ: #{memo.personality}
          p 放送日時: #{memo.airtime}
          p 感想: #{memo.impression}
          - let isDeletable = (user.id == memo.createdBy)
          if isDeletable
            form(method="post" action=`/memos/delete`)
              input(type="hidden" name="memoId" value=memo.memoId)
              button(type="submit") 削除
          - let isEditable = (user.id == memo.createdBy)
          if isEditable
            form(method="get" action=`/memos/${memo.memoId}`)
              button(type="submit") 編集
          hr
  else
    div
      a(href="/login") ログイン